/* ========================================================
   LAYOUT.CSS - CẤU TRÚC KHUNG, MENU VÀ FOOTER
   ======================================================== */

#main-wrapper {
    transition: transform 0.4s ease-in-out, margin-left 0.4s ease;
    width: 100%;
    position: relative;
    min-height: calc(100vh - 150px);
}

#main-wrapper.shifted {
    transform: none;
    margin-left: 300px;
    width: calc(100% - 300px);
}

/* ------------------------------------------------------------------- */
.logo {
    margin-right: auto;
    display: flex;
    align-items: center;
}
.nav-logo-img {
    height: 45px;
    width: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-logo-img:hover {
    opacity: 0.8;
    transform: scale(1.05);
}
.logo a {
    color: var(--white) !important;
    font-size: 13px;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 1.5px;
    transition: opacity 0,3s ease;
    white-space: nowrap;
}

.logo a:hover {
    opacity: 0.8;
}

/* ----------------------------------------------------------------------------- */

.panel-section {
    padding: 50px 5%;
    background-color: var(--white);
    min-height: 70vh;
}

.section-header {
    position: sticky;
    top: 85px;
    background-color: inherit;
    z-index: 10;
    padding: 20px 0 10px 0;
    margin-bottom: 30px;
}

.section-header h2 {
    color: var(--primary-blue);
    font-size: 26px;
    margin-bottom: 10px;
}

.divider {
    height: 4px;
    width: 80px;
    background-color: var(--warning-yellow);
}

.panel-content {
    width: 100%;
}

/* ------------------------------------------------------------------- */

footer {
    background-color: var(--bg-dark);
    color: var(--text-muted);
    text-align: center;
    padding: 40px 20px;
    margin-top: 50px;
    border-top: 4px solid var(--primary-blue);
}

footer p {
    font-size: 13px;
    margin-bottom: 5px;
}
